<?php
/**
 * FilesCdnDestinationsApi
 * PHP version 5
 *
 * @category Class
 * @package  Softonic\StorageApiSdk
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
/**
 *  Copyright 2016 SmartBear Software
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program. 
 * https://github.com/swagger-api/swagger-codegen 
 * Do not edit the class manually.
 */

namespace Softonic\StorageApiSdk\Client\Api;

use \Softonic\StorageApiSdk\Configuration;
use \Softonic\StorageApiSdk\ApiClient;
use \Softonic\StorageApiSdk\ApiException;
use \Softonic\StorageApiSdk\ObjectSerializer;

/**
 * FilesCdnDestinationsApi Class Doc Comment
 *
 * @category Class
 * @package  Softonic\StorageApiSdk
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class FilesCdnDestinationsApi
{

    /**
     * API Client
     * @var \Softonic\StorageApiSdk\ApiClient instance of the ApiClient
     */
    protected $apiClient;
  
    /**
     * Constructor
     * @param \Softonic\StorageApiSdk\ApiClient|null $apiClient The api client to use
     */
    function __construct($apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('http://v1.storage.priv.sftapi.com');
        }
  
        $this->apiClient = $apiClient;
    }
  
    /**
     * Get API client
     * @return \Softonic\StorageApiSdk\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }
  
    /**
     * Set the API client
     * @param \Softonic\StorageApiSdk\ApiClient $apiClient set the API client
     * @return FilesCdnDestinationsApi
     */
    public function setApiClient(ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }
  
    
    /**
     * deleteFileCdnDestination
     *
     * Deletes a FileCdnDestination
     *
     * @param string $id_files SHA-1 hash of the file (required)
     * @param string $id_cdn_destinations CDN destination where the file is uploaded (required)
     * @return void
     * @throws \Softonic\StorageApiSdk\ApiException on non-2xx response
     */
    public function deleteFileCdnDestination($id_files, $id_cdn_destinations)
    {
        list($response, $statusCode, $httpHeader) = $this->deleteFileCdnDestinationWithHttpInfo ($id_files, $id_cdn_destinations);
        return $response; 
    }


    /**
     * deleteFileCdnDestinationWithHttpInfo
     *
     * Deletes a FileCdnDestination
     *
     * @param string $id_files SHA-1 hash of the file (required)
     * @param string $id_cdn_destinations CDN destination where the file is uploaded (required)
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \Softonic\StorageApiSdk\ApiException on non-2xx response
     */
    public function deleteFileCdnDestinationWithHttpInfo($id_files, $id_cdn_destinations)
    {
        
        // verify the required parameter 'id_files' is set
        if ($id_files === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id_files when calling deleteFileCdnDestination');
        }
        // verify the required parameter 'id_cdn_destinations' is set
        if ($id_cdn_destinations === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id_cdn_destinations when calling deleteFileCdnDestination');
        }
  
        // parse inputs
        $resourcePath = "/files/{id_files}/cdn-destinations/{id_cdn_destinations}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json'));
  
        
        
        // path params
        
        if ($id_files !== null) {
            $resourcePath = str_replace(
                "{" . "id_files" . "}",
                $this->apiClient->getSerializer()->toPathValue($id_files),
                $resourcePath
            );
        }// path params
        
        if ($id_cdn_destinations !== null) {
            $resourcePath = str_replace(
                "{" . "id_cdn_destinations" . "}",
                $this->apiClient->getSerializer()->toPathValue($id_cdn_destinations),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'DELETE',
                $queryParams, $httpBody,
                $headerParams
            );
            
            return array(null, $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            }
  
            throw $e;
        }
    }
    
    /**
     * findFileCdnDestination
     *
     * List of FileCdnDestinations
     *
     * @param string $id_files SHA-1 hash of the file (required)
     * @return \Softonic\StorageApiSdk\Client\Model\FileCdnDestination[]
     * @throws \Softonic\StorageApiSdk\ApiException on non-2xx response
     */
    public function findFileCdnDestination($id_files)
    {
        list($response, $statusCode, $httpHeader) = $this->findFileCdnDestinationWithHttpInfo ($id_files);
        return $response; 
    }


    /**
     * findFileCdnDestinationWithHttpInfo
     *
     * List of FileCdnDestinations
     *
     * @param string $id_files SHA-1 hash of the file (required)
     * @return Array of \Softonic\StorageApiSdk\Client\Model\FileCdnDestination[], HTTP status code, HTTP response headers (array of strings)
     * @throws \Softonic\StorageApiSdk\ApiException on non-2xx response
     */
    public function findFileCdnDestinationWithHttpInfo($id_files)
    {
        
        // verify the required parameter 'id_files' is set
        if ($id_files === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id_files when calling findFileCdnDestination');
        }
  
        // parse inputs
        $resourcePath = "/files/{id_files}/cdn-destinations";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json'));
  
        
        
        // path params
        
        if ($id_files !== null) {
            $resourcePath = str_replace(
                "{" . "id_files" . "}",
                $this->apiClient->getSerializer()->toPathValue($id_files),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, '\Softonic\StorageApiSdk\Client\Model\FileCdnDestination[]'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\Softonic\StorageApiSdk\ObjectSerializer::deserialize($response, '\Softonic\StorageApiSdk\Client\Model\FileCdnDestination[]', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = \Softonic\StorageApiSdk\ObjectSerializer::deserialize($e->getResponseBody(), '\Softonic\StorageApiSdk\Client\Model\FileCdnDestination[]', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
}
