<?php
/**
 * ScanBinariesCallbacksApi
 * PHP version 5
 *
 * @category Class
 * @package  Softonic\StorageApiSdk
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
/**
 *  Copyright 2016 SmartBear Software
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program. 
 * https://github.com/swagger-api/swagger-codegen 
 * Do not edit the class manually.
 */

namespace Softonic\StorageApiSdk\Client\Api;

use \Softonic\StorageApiSdk\Configuration;
use \Softonic\StorageApiSdk\ApiClient;
use \Softonic\StorageApiSdk\ApiException;
use \Softonic\StorageApiSdk\ObjectSerializer;

/**
 * ScanBinariesCallbacksApi Class Doc Comment
 *
 * @category Class
 * @package  Softonic\StorageApiSdk
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class ScanBinariesCallbacksApi
{

    /**
     * API Client
     * @var \Softonic\StorageApiSdk\ApiClient instance of the ApiClient
     */
    protected $apiClient;
  
    /**
     * Constructor
     * @param \Softonic\StorageApiSdk\ApiClient|null $apiClient The api client to use
     */
    function __construct($apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('http://v1.virus-total.priv.sftapi.com.dev');
        }
  
        $this->apiClient = $apiClient;
    }
  
    /**
     * Get API client
     * @return \Softonic\StorageApiSdk\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }
  
    /**
     * Set the API client
     * @param \Softonic\StorageApiSdk\ApiClient $apiClient set the API client
     * @return ScanBinariesCallbacksApi
     */
    public function setApiClient(ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }
  
    
    /**
     * createScanBinaryCallback
     *
     * Creates a new ScanBinaryCallback
     *
     * @param string $id_scan_binary Scan UUID (required)
     * @param \Softonic\StorageApiSdk\Client\Model\ScanBinaryCallback $body  (optional)
     * @return void
     * @throws \Softonic\StorageApiSdk\ApiException on non-2xx response
     */
    public function createScanBinaryCallback($id_scan_binary, $body = null)
    {
        list($response, $statusCode, $httpHeader) = $this->createScanBinaryCallbackWithHttpInfo ($id_scan_binary, $body);
        return $response; 
    }


    /**
     * createScanBinaryCallbackWithHttpInfo
     *
     * Creates a new ScanBinaryCallback
     *
     * @param string $id_scan_binary Scan UUID (required)
     * @param \Softonic\StorageApiSdk\Client\Model\ScanBinaryCallback $body  (optional)
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \Softonic\StorageApiSdk\ApiException on non-2xx response
     */
    public function createScanBinaryCallbackWithHttpInfo($id_scan_binary, $body = null)
    {
        
        // verify the required parameter 'id_scan_binary' is set
        if ($id_scan_binary === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id_scan_binary when calling createScanBinaryCallback');
        }
  
        // parse inputs
        $resourcePath = "/scan-binaries/{id_scan_binary}/callbacks";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json'));
  
        
        
        // path params
        
        if ($id_scan_binary !== null) {
            $resourcePath = str_replace(
                "{" . "id_scan_binary" . "}",
                $this->apiClient->getSerializer()->toPathValue($id_scan_binary),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'POST',
                $queryParams, $httpBody,
                $headerParams
            );
            
            return array(null, $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            }
  
            throw $e;
        }
    }
    
}
